@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cuprum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');




$content-width: 70%;

$disable-color: #C8C8C8;
$text-color: #464646;
$reverse-text-color: #FDFDFD;

$border-color: #E7E7E7;

$primary-color: #38D7E1;
$secondary-color: #00AEAF;
$warning-color: #FC7751;

$header-boarder-element: #00B9E1;