@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cuprum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');




$content-width: 70%;

$disable-color: #C8C8C8;
$text-color: #1f252e;
$reverse-text-color: #FDFDFD;

$border-color: #ced4da;

$primary-color: #FFC107;
$secondary-color: #607D8B;
$warning-color: #FBC02D;

$header-boarder-element: #00B9E1;

$backgroud-color: #fbf9f2;


$card-border: #dfe7ef;