@import "src/app-style-variables.scss";


:host{
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    & .login-form-container{
        width: 520px;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;

        & .title{
            color: #464646;
            font-family: Ubuntu;
            font-size: 26px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        & .field{
            display: flex;
            flex-direction: column;
            font-size: 20px;
            width: 70%;
            align-items: stretch;
            gap: 5px;

            & .hidden{
                opacity: 0;
            }
            & input{
                width:100%;
            }
            & .row{
                display: flex;
                justify-content: space-between;
            
                
                & .group{
                    display: flex;
                    gap: 4px;
                    align-items: center;
                }
            }
            & button{
                align-self: center;
            }
            & .reset-pass{
                cursor: pointer;
                color: $warning-color !important;
            }
        }
        & .centered{
            text-align: center;
            cursor: pointer;
        }
        & .indentation{
            padding-bottom: 30px;
        }
    }
}