<div class="container cuprum-text">
    <div class="header-part">
        <img src="assets/images/logo/logo.png" alt="" class="logo">
    </div>
    <div class="header-part left">
        <div class="item reverse-text">Find Flights</div>
        <div class="item reverse-text" *ngIf="securityService.isAuthenticated$ | async">My Bookings</div>
    </div>
    <div class="header-part">
        <button pButton class="item cuprum-text header-btn" *ngIf="(securityService.isAuthenticated$ | async) === false" routerLink="/auth">Login</button>
        <div class="item reverse-text" *ngIf="(securityService.isAuthenticated$ | async) === false" routerLink="/auth/register">Sigh up</div>
        <button pButton class="item cuprum-text header-btn" *ngIf="securityService.isAuthenticated$ | async">Profile</button>
        <button class="item reverse-text invisible" *ngIf="securityService.isAuthenticated$ | async" (click)="logout()">Logout</button>
    </div>
</div>
