<div class="booking-list-item cuprum-text">
    <div class="booking-list-item-inner">
        <div class="booking-list-top">
            <div class="flight-airway">
                <div class="flight-logo">
                    <img src="assets\images\booking_icon02.jpg" alt="">
                    <h5 class="cuprum-text title">Etihad Airway</h5>
                </div>
                <span class="cuprum-text">Operated by Emirates</span>
            </div>
            <ul class="flight-info cuprum-text">
                <li>Thursday, <span>Jun 16</span></li>
                <li class="time"><span>12: 55</span>DAC</li>
                <li>22h<span>2 Stops</span></li>
            </ul>
            <div class="flight-price">
                <h4 class="title cuprum-text">US$ 1,056.40</h4>
                <a href="booking-details.html" class="btn">Select <i class="flaticon-flight-1"></i></a>
            </div>
        </div>
        <div class="booking-list-bottom">
            <ul>
                <li class="detail"><i class="fa-solid fa-angle-down"></i> Flight Detail</li>
                <li>Price per person (incl. taxes & fees)</li>
            </ul>
        </div>
    </div>
    <div class="flight-detail-wrap">
        <div class="flight-date">
            <ul>
                <li>Thursday, Jun 16</li>
                <li>Thursday, Jun 16 - 23:20 <span>22h 50m</span></li>
                <li>Friday, Jun 17 - 03:20</li>
            </ul>
        </div>
        <div class="flight-detail-right">
            <h4 class="title">IST - Istanbul Airport, Turkish</h4>
            <div class="flight-detail-info">
                <img src="assets\images\booking_icon02.jpg" alt="">
                <ul>
                    <li>Tpm Line</li>
                    <li>Operated by Airlines</li>
                    <li>Economy | Flight EK585 | Aircraft BOEING 777-300ER</li>
                    <li>Adult(s): 25KG luggage free</li>
                </ul>
            </div>
            <h4 class="title title-two">DXB - Dubai, United Arab Emirates</h4>
        </div>
    </div>
</div>